h1.main-heading {
	margin-bottom: 20px;
}

#navbar-collapse {
	padding: 0;
}

.navbar-default {
	border-radius: 0;
	background-color: #6699cc;
	border-width: 0;
	border-bottom: 5px solid #99ccff;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #336699;
	color: #ffffff;
}

.form-group .form-divider {
	border-top: 1px solid 
}

.well {
	background-color: #eeeeee;
	border-width: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}